*{
    margin: 0%;
    padding: 0%;
}
body{
    overflow: hidden;
    animation: shake linear 2s infinite;
}
.sky{
    max-width: 100%;
    background: url(background.jpg); 
    height: 100vh;
    width: 100vw;
    position:absolute;
    background-size: cover;
    background-repeat: no-repeat;
}
.trees{
    height: 100vh;
    width: 100vw;
    background-image: url(trees.png);
    background-size: cover;
     position: absolute;
     top: -130px; 
}
.track{
    height: 100vh;
    width: 800vw;
    background-image: url(track.png);
    background-size: cover;
    position: absolute;
    top: 75vh;
    background-repeat: repeat-x;
    animation: carMove  linear 6s infinite; 
}
.car{
    height:100px;
    width: 300px;
    background-size: cover;
    background-image: url(car_body.png);
    background-repeat: no-repeat;
    position: absolute;   
   bottom: 22vh;
   left: 44px;
    animation: shake linear 2s infinite; 
}

.wheel1 img{
    width: 60px;
    position: relative;
    top: 42px;
    left:45px;
    animation: wheelRotation  linear 0.6s infinite;
}
.wheel2 img{
    width: 60px;
    position: relative;
    top: -25px;
    left: 223px;
    animation: wheelRotation  linear 0.6s infinite;
   
}
@keyframes wheelRotation{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carMove{
    100%{
        transform:translateX(-500vw);
    }
}
  @keyframes shake{
    0%{
       translateY: -5px;
    }
    50%{
        translateY: 5px;
    }
    100%{
        translateY: -5px;
    }
}  